@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.css";

@import "~@fontsource/open-sans/variable-full.css";

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

